
<div class="eventPartial" style="background-image: url('{{this.picture}}')">
    <h2><a href="event/{{this.id}}">{{this.title}}</a></h2>
<aside>{{this.date}}</aside>
<p>tags:{{this.type}}</p><p>{{this.attendees}} attending</p>
<form action="/dashboard/attend" method="POST">
                    <input type="hidden" name="_id" value={{this._id}}>
                    <button id="delete" class="btn">Attend</button>
</form>

</div>
