
<div class="eventPartial">
    <h2><a href="event/{{this.id}}">{{this.title}}</a></h2>
<aside>{{this.date}}</aside>
<p>{{this.description}}</p>
<p>tags:{{this.type}}</p><p>attending: {{this.attendees}}</p>
<form action="/dashboard/attend" method="POST">
                    <input type="hidden" name="_id" value={{this._id}}>
                    <button id="delete" class="btn">Attend</button>
</form>

</div>
