<div class="eventclass background-container" </div>
    <div class="card-container">
        <div class="card">
            <br>
            <br>
            <h3>Edit your Event</h3>
            {{#with event}}
            <img src="/images/{{this.id}}.jpg" alt="{{this.id}}">
            <form method="POST" action="/event/{{this.id}}/edit" id="usrform" encType="multipart/form-data">


                <input type="text" class="text" name="title" value="{{this.title}}"><br>

                <input type="radio" class="radio" name="type" value="Cinema" checked>Cinema
                <input type="radio" class="radio" name="type" value="Theatre">Theatre
                <input type="radio" class="radio" name="type" value="Art">Art
                <input type="radio" class="radio" name="type" value="Concert">Music
                <input type="radio" class="radio" name="type" value="Other">Other<br>

                <input type="date" class="text" name="date" placeholder="date"><br>
                <textarea type="text" name="description" placeholder="{{this.description}}" value="{{this.description}}">{{this.description}}</textarea><br>
                <input type="text" class="text" name="venue" value="{{this.venue}}"><br>
                <input type="text" class="text" name="city" value="{{this.city}}"><br>
                <label for="picture">Change picture</label>
                <input type="file" name="picture" placeholder="picture">
                <br>
                <br>
                <input class="button1" type="submit" name="" id="submit">
            </form>
            {{/with}}
        </div>
    </div>
</div>