<div class="create">
    <div class="card-container">
        <div class="card">
            <br>
            <br>
            <h3>
                Edit your user profile!
            </h3>
            <form method="POST" action="/user/edit" id="usrform" encType="multipart/form-data">


                <input class="text" type="text" value="{{user.username}}" name="username" placeholder="{{user.username}}">
                <input class="text" type="email" value="{{user.email}}" name="email " placeholder="email{{user.email}} "><br>

                <textarea form="usrform" value="{{user.presentation}}" name="presentation" placeholder="{{user.presentation}} "></textarea><br>
                <input class="text" value="{{user.hobbies}}" type="text" name="hobbies" placeholder="{{user.hobbies}} "><br>
                <input class="text" type="text" value="{{user.city}}" name="city" placeholder="{{user.city}} "><br>
                <input class="text" type="text" value="{{user.relationship_status}}" name="relationship_status " placeholder="{{user.relationship_status}} "><br>
                <label for="picture">Picture</label>
                <input type="file" name="picture" placeholder="picture"><br><br>
                <input class="button1" type="submit" name="" id="submit">
            </form>
        </div>
    </div>
</div>