<h3 id="username" data-id="{{ Company.name}}">
    {{Company.name}}</h3>
<img src="/images/{{company.id}}.jpg">
<p> Type: {{ Company.type}}</p>
<p> Presentation: {{Company.presentation}}</p>
<p> Location: {{Company.city}}</p>
<p> Website: {{ Company.website}}</p>