{{#with event}}
 <div id="header-picture" style="background-image: url('{{this.picture}}')">
 
    <h1 id="page-title" >{{this.title}}</h1>
    </div>
  <div class="container">
 

<div id="tag-wrapper">
  <h3>Tags</h3>
  <a href="/dashboard/{{this.type}}">{{this.type}}</a> 
</div>


    <p> {{this.date}}, {{this.city}}</p>
     <p> Venue: {{this.venue}}</p>
     
    <p>{{this.description}}</p>
   {{#if attendantsNum}}
    <p>{{attendantsNum}} attending</p>
   {{/if}}
   
    
    {{#if this.website}}
    <a href="{{this}}">web</a>
     {{/if}}

    {{/with}}
<form action="/{{this._id}}/attend" method="POST">
  <input type="hidden" name="_id" value={{this._id}}>
  <button id="attend" class="btn">Attend {{this._id}}</button>
</form>

  </div>