{{#with event}}
 <div id="header-picture" style="background-image: url('/images/{{this.id}}.jpg')">
 
    <h1 id="page-title" >{{this.title}}</h1>
    </div>
  <div class="container">
 

<div id="tag-wrapper">
  <h3>Tags</h3>
  <a href="/dashboard/{{this.type}}">{{this.type}}</a> 
</div>


    <p> {{this.date}}, {{this.city}}</p>
     <p> Venue: {{this.venue}}</p>
     
    <p>{{this.description}}</p>
   {{#if attendantsNum}}
    <p>{{attendantsNum}} attending</p>
   {{/if}}
   
    <form action="/{{this.id}}/attend" method="POST">
  <input type="hidden" name="_id" value={{this.id}}>
  <button id="attend" class="btn">Attend</button>
</form>
<a class="btn" href="/event/{{this.id}}/edit">Edit</a>
  
    {{/with}}

  </div>