<!DOCTYPE html>
<html>

<head>
    <title>Event</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h3 id="title" data-id="{{Event.title}}">{{Event.title}}</h3>
    <p>Picture</p>
    <p> Type: {{Event.type}}</p>
    <p> Date:{{Event.date}}</p>
    <p> Description: {{Event.description}}</p>
    <p> Attendees: {{Event.attendees}}</p>
    <p> Venue: {{Event.venue}}</p>
    <p> Location: {{Event.city}}</p>
    <p> Website: {{Event.website}}</p>

</body>

<script type="text/javascript" src="/javascripts/company.js"></script>

</html>