<div class="profile background-container">
    <div class="card-container"><br>
        <br>
        <div class="card">
            <img src="/images/{{user.id}}.jpg" class="img-circle" height="200" width="200">
            <h1>{{user.username}}</h1>
            <p class="title">User</p></b>
            <b><p>About:
                    <p></b>
            </p> {{user.presentation}}
            </p>
            <b><p>My hobbies:</p></b>
            <p>{{user.hobbies}}</p>
            <b><p> Location: </p></b>
            <p> {{user.city}}
            </p>
            <b><p>Relationship Status:</p></b>
            <p>{{user.relationship_status}}
            </p>


            <a href="user/edit">
                <button type="button" class="button1">Edit </button>
            </a>
        </div>
    </div>
</div>