<!DOCTYPE html>
<html>

<head>
    <title>User Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h3 id="username" data-id="{{ user.username}}">{{ user.username}}</h3>
    <p>Picture</p>
    <p> Presentation: {{user.presentation}}</p>
    <p> Hobbies: {{user.hobbies}}</p>
    <p>Relationship Status: {{user.relationship_status}}</p>
    <p> Location: {{user.city}}</p>

</body>

</html>