<h3 id="username" data-id="{{user.username}}">
    {{ user.username}}</h3>
<img src="/images/{{user.id}}.jpg">
<p>Presentation: {{user.presentation}}</p>
<p>Hobbies: {{user.hobbies}}</p>
<p>Relationship Status: {{user.relationship_status}}</p>
<p> Location: {{user.city}}</p>
<a href=